<template>
    <div class="page-title hello">
        <h1 class="title">My Shopping List</h1>
        <p>
            Cette application est mon implémentation d'une shopping list en VueJS.<br/>
            Voici les différentes fonctionnalités :
        </p>

        <div class="block">
            <h4>Création de listes</h4>
            <p>
                La page
                <router-link to="/new">de création de liste</router-link>
                permet d'ajouter une liste de course en
                renseignant certaines informations comme:
            </p>
            <ul>
                <li>Son nom</li>
                <li>Sa description (facultatif)</li>
                <li>Une image d'illustration (facultatif)</li>
            </ul>
        </div>

        <div class="block">
            <h4>Manipulations des listes</h4>
            <p>
                La page
                <router-link to="/listing">de listing</router-link>
                permet d'afficher les
                informations des différentes listes de courses, ainsi que de créer ou supprimer ces dernières.<br/>
                Outre les informations de base de chaque liste, on y retrouve également:
            </p>
            <ul>
                <li>Le nombre d'articles contenus</li>
                <li>Le prix total des articles</li>
            </ul>
        </div>

        <div class="block">

            <h4>Les éléments</h4>
            <p>
                Chaque liste de course peut être constituée de différents éléments.<br/>
                Un élément peut être ajouté ou supprimé dans l'écran de la liste à laquelle il appartient.<br/>
                Il est défini par :
            </p>
            <ul>
                <li>Un nom</li>
                <li>Une description (facultatif)</li>
                <li>Un prix</li>
            </ul>
            <p>
                Information : Un élément ne peut être sauvegardé que si son nom et son prix sont renseignés.
            </p>
        </div>

        <div class="block">
            <h4>Informations techniques</h4>
            <p>
                Le layout (header-navbar/footer) est statique. Seul le contenu change entre 2 pages (vue-router).<br/>
                Le Localstorage a été utilisé pour stocker les listes et leurs éléments.<br/>
                J'ai créé une couche service pour abstraire l'accès / modification des données depuis le Localstorage
                (cf. dossier <b>/services/*</b> )
            </p>
        </div>

        <div class="block">
            <h4>Travail supplémentaire</h4>
            <p>
                Gestion des images de listes + définition d'une image par défaut si le champ n'est pas / est mal
                renseigné
                à la
                création.<br/>
                Ajout de la notion de prix d'articles + affichage du total dans la page de listing pour chacune des
                listes<br/>
                Notion de suppression de liste
            </p>
        </div>
        <!--
            layout static (header / footer) /
            container dynamique pages component
            routes

            services

        -->
    </div>
</template>

<script>
    export default {
        name: 'HomePage',
        props: {
            msg: String
        }
    }
</script>

<style scoped>
    .title {
        margin: 40px 0 0;
        padding-bottom: 20px
    }

    .block {
        margin: 30px 0;
    }

    ul {
        padding: 0;
    }

    li {
        margin: 0 40px;
    }

    a {
        color: #42b983;
    }
</style>
