<template>
    <div>
        <h1 class="page-title">Ajouter un élément à: {{list.name}}</h1>
        <form>
            <div class="form-group">
                <label for="element_name">Nom*</label>
                <input type="text" class="form-control" id="element_name" placeholder="Nom de l'élément"
                       v-model="element.name">
            </div>
            <div class="form-group">
                <label for="element_description">Description</label>
                <input type="text" class="form-control" id="element_description"
                       placeholder="Description de l'élément" v-model="element.description">
            </div>
            <div class="form-group">
                <label for="element_price">Prix (en euros)*</label>
                <input type="text" class="form-control" id="element_price"
                       placeholder="Prix de l'élément" v-model="element.price">
            </div>

            <div class="actions">
                <a v-if="formCompleted()" class="btn btn-outline-secondary" href="#" @click="save">Sauvegarder</a>
                <div v-else>
                    <a  class="btn btn-outline-secondary" href="#" @click="save">Retour</a>
                    <br/>
                    <span><i>Pour valider, complétez les champ obligatoires</i></span>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import ListService from '../services/ListService'
    import ElementService from '../services/ElementService'

    export default {
        name: 'NewListElement',
        components: {ListService, ElementService},
        props: ['slug'], // list slug
        data: function(){
            return{
                list: {},
                element: {
                    id: '',
                    name: '',
                    description: '',
                    price: ''
                }
            }
        },
        methods: {
            save: function(event){
                ElementService.add(this.element, this.slug);
                this.$router.push('/list/'+this.slug);
            },
            formCompleted: function(){
                if(this.element.name && this.element.price){
                    return true;
                }
                return false;
            }
        },
        mounted() {
            this.list = ListService.get(this.slug);
        },
    }
</script>

<style lang="scss" scoped>
</style>
