<template>
    <div>
        <h1 class="page-title">Nouvelle liste</h1>
        <form>
            <div class="form-group">
                <label for="list_name">Nom</label>
                <input type="text" class="form-control" id="list_name" v-model="name">
            </div>

            <div class="form-group">
                <label for="list_description">Description</label>
                <input type="text" class="form-control" id="list_description" v-model="description">
            </div>

            <div class="form-group">
                <label for="list_image">Url de l'image</label>
                <input type="text" class="form-control" id="list_image" v-model="image">
            </div>

            <div class="form-group actions ">
                <router-link class="btn btn-outline-secondary"
                             to="/new"
                             v-on:click.native="save"
                >Sauvegarder
                </router-link>
            </div>
        </form>
    </div>
</template>

<script>
    import ListService from '../services/ListService'

    export default {
        name: 'Newlist',
        components: {ListService},
        data: function () {
            return {
                id: "",
                name: "",
                description: "",
                image: ""
            }
        },
        methods: {
            save: function (event) {
                if(!this.isCorrectUrl(this.image)){
                    this.image = "";
                }
                ListService.add(this.$data);
                this.$router.push('/listing');
            },
            isCorrectUrl(url){
                var expression = /[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)?/gi;
                var regex = new RegExp(expression);
                return url.match(regex);
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
