<template>
    <div>
        <h1 class="page-title">Mes listes</h1>
        <div class="lists">
            <div v-if="!lists.length">Vous n'avez aucune liste.</div>
            <div class="item" v-for="list in lists" :key="list.id">
                <router-link :to="'/list/' + list.id">
                    <div class="col-lg-12">
                        <div class="card-body">
                            <div class="part-left">
                                <object class="image-container" :data="list.image">
                                    <img class="card-img-left" src="http://placehold.it/140x100">
                                </object>
                            </div>
                            <div class="part-right">
                                <h5 class="card-title">{{list.name}}</h5>
                                <p class="card-text">{{list.description}}</p>
                                <p class="card-text">{{list.elements.length}} éléments
                                    - {{sumElements(list.elements)}}€</p>
                            </div>
                            <a class="btn btn-remove"
                               v-on:click.prevent="remove(list.id)"><b-icon icon="x-circle-fill"></b-icon></a>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="actions">
                <router-link class="btn btn-outline-secondary" to="/new">Ajouter une liste</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import ListService from '../services/ListService'

    export default {
        name: 'Pagelist',
        components: {ListService},
        data: function(){
            return {
                lists: []
            }
        },
        methods: {
            remove(listId){
                ListService.remove(listId);
                this.lists = ListService.getAll();
            },
            sumElements(listElements) {
                return listElements.reduce((a, b) => a + (parseFloat(b.price) || 0), 0);
            }
        },

        mounted() {
            this.lists = ListService.getAll();
        },
    }
</script>

<style lang="scss" scoped>
    .item {
        a {
            text-decoration: none;
            color: inherit;
            .card-body {
                display: flex;
                margin: 1.25rem;
                padding: 0;
                border: 1px solid #CCCCCC;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 0px;

                &:hover > .part-right{
                    background-color: #F8F8F8;
                }
                .image-container{
                    width:140px;
                    height: 100px;
                    object-fit: cover;
                    display: block;
                }
                .part-right {
                    width:100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 10px;
                    border-left: 1px solid #CCCCCC;

                    p{
                        line-height: 1;
                    }
                    .btn-remove {
                        position: absolute;
                        right: 39px;
                        top: 10px;
                    }
                }
                .btn-remove {
                    position: absolute;
                    right: 38px;
                    padding: 5px;
                    &:hover {
                        svg {
                            color: #dc3545;
                        }
                    }
                }
            }
        }
    }
    .actions{
        margin-left:35px;
    }
</style>
