<template>
    <div>
        <h1 class="page-title">{{list.name}} ({{list.elements.length}})</h1>

        <div class="actions">
            <router-link class="btn btn-outline-secondary" :to="'/list/'+slug+'/add'">Ajouter un élément</router-link>
        </div>

        <div class="elements">

            <div v-if="!list.elements.length">Cette liste ne comporte aucun élément.</div>
            <div class="element" v-for="element in list.elements" :key="element.id">
                <div class="col-lg-12">
                    <div class="card-body">
                        <div class="part-right">
                            <h5 class="card-title"><b>{{element.name}}</b></h5>
                            <p class="card-text">{{element.description}}</p>
                            <p class="card-text">Prix : <i>{{element.price}}€</i></p>
                            <a class="btn btn-danger btn-remove"
                               @click="remove(element.id)"><b-icon icon="trash"></b-icon></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import ListService from '../services/ListService'
    import ElementService from '../services/ElementService'

    export default {
        name: 'ViewList',
        components: {ListService, ElementService},
        props: ['slug'],
        data: function(){
            return{
                list: {
                    elements: []
                }
            }
        },
        methods: {
            remove(elementId){
                ElementService.remove(elementId, this.slug)
                this.list = ListService.get(this.slug);
            },
        },
        mounted() {
            this.list = ListService.get(this.slug);
        },
    }
</script>

<style lang="scss" scoped>
    .element {
        text-decoration: none;
        color: inherit;
        .card-body {
            display: flex;
            .part-right {
                margin-right: 50px;
                width:100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5px;
                padding-left: 10px;
                border: 1px solid #CCCCCC;
                border-left:10px solid #CCCCCC;
                position: relative;

                p{
                    line-height: 1;
                }

                .btn-remove{
                    height: 100%;
                    position: absolute;
                    right: -46px;
                    display: flex;
                    align-items: center;
                    color: white;
                    border-radius:0;
                    cursor: pointer;
                    background-color: rgb(44, 62, 80);
                    border-color: rgb(44, 62, 80);
                    border-top-right-radius: 15px;
                    &:hover {
                        background-color: #dc3545;
                        border-color: #dc3545;
                    }
                }
            }
        }
    }
    .actions{
        width: max-content;
        margin-left: auto;
        margin-right: 0;
    }
</style>
