<template>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright 2020 &copy; Marvin HERTSOEN</p>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'Footer'
    }
</script>

<style lang="scss">
    #app{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin-top: 0!important;

        main{
            flex:1;
            margin-top:64px;
        }
    }
    footer {
        margin-top: 30px;
    }
</style>
