<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <router-link class="navbar-brand" to="/"><img src="../assets/my_shopping_list.png"/></router-link>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <router-link class="nav-link" to="/listing">Mes listes</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'Navbar'
    }
</script>

<style lang="scss" scoped>
    body {
        nav {
            padding: 0 1rem;
            a {
                &.navbar-brand {
                    padding: 0;
                    img {
                        height: 50px;
                    }
                }
            }
        }
    }
</style>
