<template>
    <div id="app">
        <header>
            <Navbar></Navbar>
        </header>

        <main class="container">
            <div class="row">
                <div class="router-container col-lg-8">
                    <router-view></router-view>
                </div>
            </div>
        </main>

        <footer>
            <Footer></Footer>
        </footer>

    </div>
</template>

<script>
    import Navbar from './components/Navbar.vue'
    import Footer from './components/Footer.vue'
    import HomePage from './pages/HomePage.vue'

    export default {
        name: 'App',
        components: {
            Navbar,
            Footer,
            HomePage
        },
        watch: {
            '$route' (to, from) {
                document.title = to.meta.title || 'Vue Shopping List'
            }
        }
    }
</script>

<style lang="scss">

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /*text-align: center;*/
        color: #2c3e50;
        margin-top: 60px;
        .router-container {
            margin: 0 auto;
        }
    }

    h1.page-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
